# These files will not be added to containers.
.dockerignore
.git
.gitignore
docker-compose.yml

# dockerignore different than gitignore **/* is the full wildcard match
**/*Dockerfile*
**/*node_modules/*
**/*.env*
**/*google_creds.json*
**/*local_settings.py*
**/*.md*
!README*.md
